// Override and add customized styles in this file.
//
// You can also create SCSS files in the app/assets/stylesheets/custom/
// folder and they will be loaded automatically.
.public > .wrapper > header,
.proposal-dashboard > header {
  .top-bar {
    background: $white;
    color: black;
  }
}

a:active, a:focus:active, a:focus, button:focus {
  box-shadow: none;
  //box-shadow: 0 0 0 3px #ca0083;
  outline: none;
  outline-offset: none;
}

h1, .h1 {
  font-size: 2.5rem;
}

.lead {
  font-size: 1.1rem;
}

.logo {
  line-height: 0;
}
